h1 {
  margin-top: 20px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ant-list {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}

.product-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.product-details {
  margin-left: 20px;
}


.container-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .product-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details {
    margin-left: 0;
    margin-top: 10px;
  }

  .container-buttons {
    flex-direction: column; 
    align-items: center; 
  }

  .container-buttons button {
    width: 80%; 
    margin-bottom: 10px; 
  }
}
