.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 190px;
  margin-bottom: 190px;

  background-color: rgb(175, 174, 174);
}

.banner-text {
  font-size: 34px;
  text-align: center;
}
