@import "../../../colors.scss";

.container-menu {
  .mobile-menu-icon {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .header-container {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 45px;
    justify-content: center;
    padding: 10px;
    color: $secondaryColor;

    .navbar-link {
      color: rgb(0, 0, 0);
    }
    div {
      display: flex;
      gap: 1em;

      span {
        cursor: pointer;
      }
    }
  }

  // DESKTOP
  @media screen and (min-width: 769px) {
    .header-container {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white; 
      z-index: 1000;
    }
    .navbar-link {
      display: block;
      padding: 10px 0;
      text-align: left;
    }
  }

  // MOBILE
  @media screen and (max-width: 768px) {
    .mobile-menu-icon {
      display: block; 
    }
    .header-container {
      flex-direction: column;
      align-items: flex-start;
      font-size: 28px;
    }
    .navbar-link {
      display: block;
      padding: 10px 0;
      text-align: left;
    }
  }
}
