@import "../../../colors.scss";

.header-container {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center;
  padding: 10px;
  color: $secondaryColor;

  .navbar-link {
    color: rgb(0, 0, 0);
  }
  
  div {
    display: flex;
    gap: 1em;
    span {
      cursor: pointer;
    }
  }
.navbar{
  display: flex;
}
  @media screen and (max-width: 768px) {
    font-size: 28px;
    flex-direction: column;
    align-items: flex-start;

    .navbar-link {
      display: block;
      padding: 10px 0;
      text-align: left;
    }
  }
}
