body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    width: 98%;
    bottom: 0;
    
  }
a{
  color: gray;
}
  